body {
  font-family: "Poppins", sans-serif;
  color: white;
  background: black;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  border: blue solid 2px;
  padding: 20px;
  margin: 30px 30px 5px 30px;
  border-radius: 10px;
  background-image: linear-gradient(-180deg, #9d65c9 25%, #27296d 95%);
}

footer {
  margin: 0 30px;
  font-size: 12px;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-min {
  opacity: 0.5;
}
