.App {
  max-width: 800px;
  margin: 30px auto;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  background: black;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App .container {
  border: blue solid 2px;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(-180deg, #9d65c9 25%, #27296d 95%);
}

.App footer {
  margin: 0 40px auto;
  font-size: 12px;
}

.App a {
  color: white;
}

.App a:hover {
  color: #0a58ca;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-min {
  opacity: 0.5;
}
