.Search .city {
  padding: 20px 0;
  font-size: 40px;
}

.Search .choose-city {
  text-align: left;
  display: inline;
  vertical-align: middle;
}

.Search .change-city {
  background-color: #a393eb;
}

.Search .current-city {
  background-color: #a393eb;
}
