.Today h1 {
  margin-bottom: 0;
  font-size: 70px;
  text-align: left;
}

.Today ul {
  margin: 0 0 10px;
  padding: 0;
}

.Today li {
  list-style: none;
  font-size: 16px;
}

.Today .col {
  text-align: center;
}

.Today .col-3 {
  text-align: left;
}

.Today #description::first-letter {
  text-transform: capitalize;
}

.Today #current-icon {
  width: 100px;
  height: 100px;
}

.Today .today {
  width: 100%;
  margin: 30px 20px;
}

.Today .today-temp {
  font-size: 80px;
}

.Today .temp-unit {
  position: relative;
}

.Today #units {
  font-size: 15px;
  top: -40px;
}

.Today .cloud-sun {
  font-size: 100px;
  color: rgb(255, 230, 0);
}

.Today a {
  color: white;
}

.Today #units .active {
  color: white;
  cursor: default;
  text-decoration: none;
  position: absolute;
  top: 10px;
}

.Today #units .active:hover {
  text-decoration: none;
}