.Today {
  margin: 40px 0 20px 0;
}

.Today ul {
  margin: 0 0 40px;
  padding: 0;
}

.Today li {
  list-style: none;
  font-size: 16px;
}

.Today #description::first-letter {
  text-transform: capitalize;
}

.Today .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  float: left;
}

.Today .weather-temperature {
}

.Today .weather-temperature strong {
  color: white;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  float: left;
}

.Today .units {
  position: relative;
  font-size: 16px;
  top: 0px;
}

.Today a {
  color: white;
}

.Today .active {
  color: white;
  cursor: default;
  text-decoration: none;
  position: absolute;
  top: 10px;
}

.Today .active:hover {
  text-decoration: none;
}
