.Weather {
  margin: 40px 0 20px 0;
}

.Weather .change-city {
  background-color: #a393eb;
}

.Weather .choose-city {
  background-color: #ffffff;
}

.Weather .current-city {
  background-color: #a393eb;
}

.Weather .city {
  padding: 20px 0;
  font-size: 40px;
}

.Weather ul {
  margin: 0 0 40px;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-size: 16px;
}

.Weather .description::first-letter {
  text-transform: capitalize;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

.WeatherTemperature {
  color: white;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  display: inline;
}

.weather-temperature {
  display: inline;
}

.float-left {
  display: inline;
}

.WeatherTemperature .units {
  position: relative;
  font-size: 16px;
  top: 0px;
  text-decoration: none;
}

.WeatherTemperature a {
  text-decoration: none;
}

.WeatherTemperature a:hover {
  text-decoration: underline;
}
